*{
    margin:0;
    padding:0;
    outline: none;
}

header{
    margin-bottom: 70px;
}

body{
    width: 100%;
    height: auto;
    
}




.logo{
    position:absolute;
    top:0;
    left:0;
    font-size:2em;
    color: #16e0bd;
    user-select: none;
}

.navigation .btnLogin-popup{
    position:absolute;
    width:130px;
    height: 50px;
    top:0;
    right:0;
    
    
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 5px solid  #16e0bd ;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color:  #16e0bd;
    font-weight: 500;
    transition: .5s;
    
  

}

.navigation .btnLogin-popup:hover{
    background-color: lightsalmon;
    color: red;

}
 
.insert-menu-dashboard{
    width: 100%;
    height:300px;
    padding-left: 20px;
    margin-top: 70px;
}


.banner-dashboard{
    width:100%;
    height: 400px;
    position: relative;
    margin-top: 4rem;
    border-radius: 30px;
    cursor: pointer;

}

.banner-dashboard img{
    width:90%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.banner-info{
    position: absolute;
    top : 30%;
    left: 10%;
    font-weight: 800;
}

.banner-info span{
    color: orange;
}

.dashboard-title{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 1.5rem;
    font-size: 2em;
}

.dashboard-content{
    display: grid;
	grid-template-columns:repeat(auto-fit, minmax(300px,1fr)) ;
    gap:50px;
    padding: 0.5rem 1rem 1rem 1rem;

}

.dashboard-card{
    
    background-color: #f6f8fa;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px;
    border-radius: 15px;
    position: relative;
    cursor:pointer;
    
}

.dashboard-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}


.card-img{

    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;

}

.card-detail input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;

    font-weight: 600;
    color: #162938;
    text-align: center;
    
}

.card-detail label{
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.dashboard-card a{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border : solid 2px #16e0bd;
    border-radius: 15px;
    padding : 15px 15px 15px 15px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 800;
    background-color: #16e0bd;
    transition: transform 0.5s ease-in-out


}
.dashboard-card a:hover{
    transform: scale(1.1);
    
}

.insert-hamburger-dashboard{
    width: 50%;
    height:100px;
    padding-right: 20px;
}

.hamburger-dashboard{
    width:80%;
    height: 200px;
    position: relative;
    margin-top: 4rem;
    border-radius: 30px;
    cursor: pointer;

}

.dashboard-card .submit_btn {
    width: 100%;
    height: 45px;
    background: #16e0bd;
    border: none;
    outline: none;
    color: red;
    
    border-radius: 20px;
    font-size: 1em;
    font-weight: 800;
    cursor: pointer;
}