body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('tiramisu_background.jpg') no-repeat;;
    background-position: center;
    background-size: cover;
}




.h-wrapper {
    position: relative ;

    width:450px;
    height: 680px;
    background: transparent;
    border: 4px solid lightblue;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    background-color: #162938;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;
    overflow: hidden;


}

.form-box h2{
    font-size: 2em;
    color: #f6f8fa;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #f6f8fa;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #f6f8fa;
    font-weight: 500;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px
}

.input-box input, select{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 25px 0 5 px;
    font-weight: 600;
    color: orange;
    
    
}
.submit_btn {
    width: 100%;
    height: 45px;
    background: lightblue;
    border: none;
    outline: none;
    color: #162938;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}



.input-box select:focus~label,
.input-box select:valid~label {
    top: -5px
}